body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 800px;
    background-color: #1C2541 
 }


 /* Top Bar */
 p{
    font-family:'Menlo', monospace;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    color: #FBFEF9;
 }

 #ExtensionTitle{
    font-family: 'Newsreader', serif;
 }
 span{
     font-size: 30px;
     color: #FBFEF9;
    }

.topbar{
    display: flex;
    padding: 5px 10px 5px;
    background-color: #0B132B;
    justify-content: center;
    position: relative;
    align-items: center;
}
.topbar p{
    flex-grow: 1;
}
.topbar i{
    position: absolute;
    right: 0;
    margin-right: 20px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.topbar span:hover{
    opacity: 0.4;
}
#circle{
    position: absolute;
    left: 0;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}

/* Content */
.flex-container{
    color: #FBFEF9;
    padding-bottom: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
div.flex-item{
    padding: 5px 5px 5px 5px;
    text-align: left;
    border-radius: 10px 10px 10px 10px;
    background-color: #3a506b00;
    transition: background-color 0.4s ease-in-out;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}
div.flex-item:hover{
    background-color: #3A506B;
}

#HL2{
    animation-delay: .25s;
}

#HL3{
    animation-delay: .5s;
}

#HL4{
    animation-delay: .75s;

}

#HL5{
    animation-delay: 1s;
}


@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
  }