body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 384px;
    background-color: #1b1b1b 
 }
 p{
    font-family:'Menlo', monospace;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #dddddd;

    text-decoration: underline solid;
 }
 li{
     padding: 5px 5px 5px 5px;
 }
 i{
     font-size: 22px;
     color: #dddddd;
 }
.content{
    color: #dddddd;
    padding-bottom: 10px;
}
.topbar{
    display: flex;
    padding: 10px 10px 10px 10px;
    background-color: #141414;
    justify-content: center;
    position: relative;
}
.topbar p{
    flex-grow: 1;
}
.topbar i{
    position: absolute;
    right: 0;
    margin-right: 20px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.topbar i:hover{
    opacity: 0.4;
}